<form [formGroup]="form">
  <ion-item>
    <!-- TODO (acer): change input styling -->
    <ion-input type="text" placeholder="Add Item" formControlName="input" (keyup.enter)="apply();"></ion-input>
    <ion-icon class="action-icon" name="ios-add-circle-outline" color="primary" (click)="apply();"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-text color="success" [ngClass]="{'fadeOut': valueAdded.fadeOut}" *ngIf="valueAdded.visible">
      Item added!
    </ion-text>

    <ion-text color="danger" *ngIf="(form.controls.input.dirty) && ( form.controls.input.errors && form.controls.input.errors.required)">
      Grocery item required!
    </ion-text>
  </ion-item>
</form>