<ion-header translucent>
  <ion-toolbar>
    <ion-title>Edit</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal();">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="form" [formGroup]="form">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Name<ion-text color="danger">
            <span>
              *
            </span>
            <span
              *ngIf="(form.controls.name.dirty) && ( form.controls.name.errors && form.controls.name.errors.required)">
              Grocery name is required!
            </span>
          </ion-text>
        </ion-label>
        <ion-input required type="text" formControlName="name" (keyup.enter)="dismissModal(form.value);"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Count
          <ion-text color="danger">
            <span>
              *
            </span>
            <span
              *ngIf="(form.controls.count.dirty) && ( form.controls.count.errors && form.controls.count.errors.required)">
              Grovery count is required!
            </span>
          </ion-text>
        </ion-label>
        <ion-input required type="number" formControlName="count" (keyup.enter)="dismissModal(form.value);"></ion-input>
      </ion-item>
    </ion-list>

    <section>
      <ion-button expand="full" [disabled]="!form.valid || !form.dirty" (click)="dismissModal(form.value);">Apply</ion-button>
    </section>
  </form>
</ion-content>